auto-install-peers=false
strict-peer-dependencies=false
node-linker=hoisted
only-built-dependencies[]=@clerk/shared
only-built-dependencies[]=browser-tabs-lock
only-built-dependencies[]=core-js
only-built-dependencies[]=esbuild
only-built-dependencies[]=@sentry/cli
